html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  padding: 0px;
  margin: 0px;
  box-sizing: inherit;
}

i {
  padding: 10px 10px 10px 10px;
}

html,
body,
canvas {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  z-index: 0;
  background-color: #000;
  color: white;
  text-shadow:0px 0px 5px #FFF;
}
body:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 1;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#canvas3 {
  z-index: 5;
}

#canvas2 {
  z-index: 10;
}

#canvas1 {
  z-index: 100;
}

@font-face {
  font-family: amazFont;
  src: url("../font/amaz.ttf")
}
i { 
  font-family: amazFont;
  font-style: normal;
  font-size: 160%;
  padding: 10px 10px 10px 10px;
  word-break:break-all;
  letter-spacing: 0.5px;
}
p { 
  font-size: 80%;
  line-height: 150%;
  font-family: noteFont, sans-serif;
  padding: 5px 10px 10px 10px;
  /*强制换行*/
  word-break:break-all;
}